<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.medicalsystem.mapper.DocinfoMapper">
    <resultMap id="BaseResultMap" type="com.test.medicalsystem.entity.DocInfo">
        <id column="did" jdbcType="INTEGER" property="did"/>
        <result column="doc_num" jdbcType="VARCHAR" property="docNum"/>
        <result column="doc_name" jdbcType="VARCHAR" property="docName"/>
        <result column="doc_pwd" jdbcType="VARCHAR" property="docPwd"/>
        <result column="doc_type" jdbcType="VARCHAR" property="docType"/>
        <result column="doc_sex" jdbcType="VARCHAR" property="docSex"/>
        <result column="doc_telephone" jdbcType="VARCHAR" property="docTelephone"/>
        <result column="doc_worktime" jdbcType="VARCHAR" property="docWorktime"/>
        <result column="doc_level" jdbcType="VARCHAR" property="docLevel"/>
        <result column="doc_position" jdbcType="VARCHAR" property="docPosition"/>
    </resultMap>

    <sql id="Base_Column_List">
        did,doc_num,doc_name,doc_pwd,doc_type,doc_sex,doc_telephone,doc_worktime,doc_level,doc_position
    </sql>


<!--    管理员分页查找-->
    <select id="selectByQueryCondition"
            parameterType="com.test.medicalsystem.request.docinfoQuery"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from doc_info
        where doc_type=1
        <include refid="queryCondition"/>
        order by did
        limit #{page},#{limit}
    </select>
    <select id="selectTotalCount"
            parameterType="com.test.medicalsystem.request.docinfoQuery"
            resultType="java.lang.Integer">
        select
        count(1)
        from doc_info
        where doc_type=1
        <include refid="queryCondition"/>
    </select>
<!--    sql查询语句-->
    <sql id="queryCondition">
        <if test="docNum!=null and docNum!=''">
            and doc_num = #{docNum,jdbcType=VARCHAR}
        </if>
        <if test="docName!=null and docName!=''">
            and doc_name like
            concat(concat('%',#{docName}),'%')
        </if>
    </sql>


<!--    登录查询-->
    <select id="selectUser" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from doc_info
        where doc_num = #{docNum} and doc_pwd = #{docPwd}
    </select>

<!--    用户名进行查找信息-->
    <select id="selectBydocNum" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from doc_info
        where doc_num = #{docNum,jdbcType=VARCHAR}

    </select>

<!--    增加医生信息-->
    <insert id="insertDocInfo" parameterType="com.test.medicalsystem.entity.DocInfo">
        insert into doc_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="did !=null">
                did,
            </if>
            <if test="docNum !=null">
                doc_num,
            </if>
            <if test="docName !=null">
                doc_name,
            </if>
            <if test="docPwd !=null">
                doc_pwd,
            </if>
            <if test="docType !=null">
                doc_type,
            </if>
            <if test="docSex !=null">
                doc_sex,
            </if>
            <if test="docTelephone !=null">
                doc_telephone,
            </if>
            <if test="docWorktime !=null">
                doc_worktime,
            </if>
            <if test="docLevel !=null">
                doc_level,
            </if>
            <if test="docPosition !=null">
                doc_position,
            </if>
        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="did !=null">
                #{did,jdbcType=INTEGER},
            </if>
            <if test="docNum !=null">
                #{docNum,jdbcType=VARCHAR},
            </if>
            <if test="docName !=null">
                #{docName,jdbcType=INTEGER},
            </if>
            <if test="docPwd !=null">
                #{docPwd,jdbcType=VARCHAR},
            </if>
            <if test="docType !=null">
                #{docType,jdbcType=INTEGER},
            </if>
            <if test="docSex !=null">
                #{docSex,jdbcType=VARCHAR},
            </if>
            <if test="docTelephone !=null">
                #{docTelephone,jdbcType=INTEGER},
            </if>
            <if test="docWorktime !=null">
                #{docWorktime,jdbcType=VARCHAR},
            </if>
            <if test="docLevel !=null">
                #{docLevel,jdbcType=INTEGER},
            </if>
            <if test="docPosition !=null">
                #{docPosition,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>



<!--    更新医生信息-->
    <update id="updateDocInfoBydocNum" parameterType="com.test.medicalsystem.entity.DocInfo">
        update doc_info
        <set>
            <if test="docName !=null">
                doc_name = #{docName,jdbcType=VARCHAR},
            </if>
            <if test="docPwd !=null">
                doc_pwd = #{docPwd,jdbcType=VARCHAR},
            </if>
            <if test="docType !=null">
                doc_type = #{docType,jdbcType=VARCHAR},
            </if>
            <if test="docSex !=null">
                doc_sex = #{docSex,jdbcType=VARCHAR},
            </if>
            <if test="docTelephone !=null">
                doc_telephone = #{docTelephone,jdbcType=VARCHAR},
            </if>
            <if test="docWorktime !=null">
                doc_worktime = #{docWorktime,jdbcType=VARCHAR},
            </if>
            <if test="docLevel !=null">
                doc_level = #{docLevel,jdbcType=VARCHAR},
            </if>
            <if test="docPosition !=null">
                doc_position = #{docPosition,jdbcType=VARCHAR},
            </if>
        </set>
        where
        doc_num = #{docNum,jdbcType=VARCHAR}
    </update>




<!--    删除-->
    <delete id="deleteBydocNum" parameterType="java.lang.String">
        delete from doc_info
        where  doc_num = #{docNum,jdbcType=VARCHAR}
    </delete>


</mapper>
    