<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.medicalsystem.mapper.RegisterInfoMapper">
    <resultMap id="BaseResultMap" type="com.test.medicalsystem.entity.RegisterInfo">
        <id column="rid" jdbcType="INTEGER" property="rid"/>
        <result column="stu_num" jdbcType="VARCHAR" property="stuNum"/>
        <result column="stu_name" jdbcType="VARCHAR" property="stuName"/>
        <result column="stu_register" jdbcType="VARCHAR" property="stuRegister"/>
        <result column="ill_type" jdbcType="VARCHAR" property="illType"/>
        <result column="ill_date" jdbcType="VARCHAR" property="illDate"/>
        <result column="treatment_type" jdbcType="VARCHAR" property="treatmentType"/>
        <result column="stu_temperature" jdbcType="VARCHAR" property="stuTemperature"/>
        <result column="virus_detection" jdbcType="VARCHAR" property="virusDetection"/>
    </resultMap>

    <sql id="Base_Column_List">
        rid,stu_num,stu_name,stu_register,ill_type,ill_date,treatment_type,stu_temperature,virus_detection
    </sql>

<!--    学生，查询挂号单-->
<!--    对挂号的性质，进行查询  treatment_type=0 and -->
    <select id="selectByQueryCondition"
            parameterType="com.test.medicalsystem.request.RegisterQuery"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from register_info
        where  stu_num = #{stuNum,jdbcType=VARCHAR}
        <include refid="queryCondition"/>
        order by rid
        limit #{page},#{limit}
    </select>

<!--    treatment_type=0  and-->
    <select id="selectTotalCount"
            parameterType="com.test.medicalsystem.request.RegisterQuery"
            resultType="java.lang.Integer">
        select
        count(1)
        from register_info
        where   stu_num = #{stuNum,jdbcType=VARCHAR}
        <include refid="queryCondition"/>
    </select>


    <!--  学生端查看时间条件语句查询-->
    <sql id="queryCondition">
        <if test="illDate!=null and illDate !=''">
            and ill_date = #{illDate,jdbcType=VARCHAR}
        </if>
    </sql>

<!--医生 查询所有 的挂号单-->
    <select id="selectAllForDoc"
            parameterType="com.test.medicalsystem.request.RegisterQuery"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from register_info
        where 1=1
        <include refid="queryConditionOnlyDate"/>
        order by rid
        limit #{page},#{limit}
    </select>

    <select id="selectDocTotal"
            parameterType="com.test.medicalsystem.request.RegisterQuery"
            resultType="java.lang.Integer">
        select
        count(1)
        from register_info
        where 1=1
        <include refid="queryConditionOnlyDate"/>
    </select>

    <sql id="queryConditionOnlyDate">
        <if test="illDate!=null and illDate !=''">
            and ill_date = #{illDate,jdbcType=VARCHAR}
        </if>
        <if test="stuNum!=null and stuNum !=''">
            and stu_num = #{stuNum,jdbcType=VARCHAR}
        </if>
        <if test="treatmentType!=null and treatmentType !=''">
            and treatment_type != #{treatmentType,jdbcType=VARCHAR}
        </if>
    </sql>

<!--    上面两个查询均为，状态码为0，判断未确诊时候的统一查询-->
    
    <select id="selectBystuRegister" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from register_info
        where  stu_register = #{stuRegister,jdbcType=VARCHAR}
    </select>



    <select id="selectBytimeandNum" parameterType="com.test.medicalsystem.request.RegisterQuery" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from register_info
        where   stu_num = #{stuNum}
        and     ill_date = #{illDate}
    </select>




    <insert id="insertRegisterinfo" parameterType="com.test.medicalsystem.entity.RegisterInfo">
        insert into register_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rid !=null">
                rid,
            </if>
            <if test="stuNum !=null">
                stu_num,
            </if>
            <if test="stuName !=null">
                stu_name,
            </if>
            <if test="stuRegister !=null">
                stu_register,
            </if>
            <if test="illType !=null">
                ill_type,
            </if>
            <if test="illDate !=null">
                ill_date,
            </if>
            <if test="treatmentType !=null">
                treatment_type,
            </if>
            <if test="stuTemperature !=null">
                stu_temperature,
            </if>
            <if test="virusDetection !=null">
                virus_detection,
            </if>
        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rid !=null">
                #{rid,jdbcType=INTEGER},
            </if>
            <if test="stuNum !=null">
                #{stuNum,jdbcType=VARCHAR},
            </if>
            <if test="stuName !=null">
                #{stuName,jdbcType=VARCHAR},
            </if>
            <if test="stuRegister !=null">
                #{stuRegister,jdbcType=VARCHAR},
            </if>
            <if test="illType !=null">
                #{illType,jdbcType=VARCHAR},
            </if>
            <if test="illDate !=null">
                #{illDate,jdbcType=VARCHAR},
            </if>
            <if test="treatmentType !=null">
                #{treatmentType,jdbcType=VARCHAR},
            </if>
            <if test="stuTemperature !=null">
                #{stuTemperature,jdbcType=VARCHAR},
            </if>
            <if test="virusDetection !=null">
                #{virusDetection,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>


    <update id="updateRegisterInfoByNum" parameterType="com.test.medicalsystem.entity.RegisterInfo">
        update register_info
        <set>
            <if test="stuName !=null">
                stu_name = #{stuName,jdbcType=VARCHAR},
            </if>
            <if test="illType !=null">
                ill_type = #{illType,jdbcType=VARCHAR},
            </if>
            <if test="illDate !=null">
                ill_date = #{illDate,jdbcType=VARCHAR},
            </if>
            <if test="treatmentType !=null">
                treatment_type = #{treatmentType,jdbcType=VARCHAR},
            </if>
            <if test="stuTemperature !=null">
                stu_temperature = #{stuTemperature,jdbcType=VARCHAR},
            </if>
            <if test="virusDetection !=null">
                virus_detection = #{virusDetection,jdbcType=VARCHAR},
            </if>
        </set>
        where
        stu_register = #{stuRegister,jdbcType=VARCHAR}
    </update>


<!--                <if test="stuRegister !=null">
                stu_register = #{stuRegister,jdbcType=VARCHAR},
            </if>-->
    <delete id="deleteBystuRegister" parameterType="java.lang.String">
        delete from register_info
        where stu_register = #{stuRegister,jdbcType=VARCHAR}
    </delete>






</mapper>
    