<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>医生端控制界面</title>
    <link href="../static/layui/css/layui.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="../static/layui/layui.js"></script>
    <script type="text/javascript" src="../static/js/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="../static/js/doctorconfig.js"></script>


</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <!--头部的信息-->
        <div class="layui-logo">
            <a id="index" href="javascript:;" style="color:#a6e1ec;">医务人员操作系统</a></div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
                <ul class="layui-nav layui-layout-left">
                    <li class="layui-nav-item"><a href="">药物管理</a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a href="doctor_drug_add.html">开药</a>
                            </dd>
                            <dd>
                                <a href="">药物剩余查询</a>
                            </dd>
                        </dl>
                    </li>

                    <li class="layui-nav-item"><a href="javascript:;">挂号管理</a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a href="doctor_select_add_register.html">挂号操作</a>
                            </dd>
                            <dd>
                                <a href="">挂号查询</a>
                            </dd>
                        </dl>
                    </li>
                </ul>




        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <span id="docName">医生</span>

                </a>
                <dl class="layui-nav-child">
                    <dd>
                        <a id="" href="javascript:;">基本资料</a>
                    </dd>
                    <dd>
                        <a id="user-logout" href="javascript:;">安全退出</a>
                    </dd>
                </dl>
            </li>
        </ul>
    </div>


    <!--    左侧导航区域-->
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree">
                <!--                下拉框-->
                <li class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">医生信息管理</a>

                    <dl class="layui-nav-child">
                        <dd><a id="infoA" href="doctor_docinfo.html">医生信息</a></dd>
                        <dd><a id="123" href="javascript:;">历史病例查找</a></dd>
                    </dl>

                </li>

                <li class="layui-nav-item">
                    <a id="456" href="doctor_selectallregister.html">待就诊的学生</a>
                </li>

                <li class="layui-nav-item">
                    <a id="789" href="javascript:;">图示化</a>
                </li>

            </ul>
        </div>
    </div>

    <!-- 中间的提示框-->
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <iframe id="iframeMain" src="" style="width: 100%"; height="100%";></iframe>
    </div>

    <!-- 底部的标签-->
    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © SUEP.com - 底部区域
    </div>

    <!--做上面所有的div中的处理-->

    <script>
        //JavaScript代码区域
        layui.use(['element','layer'], function() {
            var element = layui.element;
            var layer = layui.layer;

            //从cookie中获取信息
            var docName = $.cookie("docName");
            var docNum = $.cookie("docNum");
            $("#docName").text(docName);
            //可以存在头像框，这个之后再做
            // $.cookie("stuName", data.data.stuName);
            // $.cookie("stuNum", data.data.stuNum);

            // $("#admin-info").click(function(){    基本资料控件
            //     layer.open({
            //         type: 2,
            //         area: ['700px', '450px'],
            //         fixed: false, //不固定
            //         maxmin: true,
            //         content: 'admin_info.html'
            //     });
            // });
            //登出控件控制
            $("#user-logout").click(function(){
                layer.msg("退出成功",{
                    icon: 6,
                    time: 1200,
                    shade: 0.4,
                },function(){
                    userLogout();
                    window.location.href="../LoginIndex.html"; //返回登录页
                });
            });



        });
    </script>

    <script>
        //JavaScript代码区域
        layui.use('element', function(){
            var element = layui.element;
            var $=layui.jquery;
            $(document).ready(function(){
                $("dd>a").click(function(e){
                    e.preventDefault();
                    $("#iframeMain").attr("src",$(this).attr("href"));
                });
            });

        });
    </script>

    <script>
        //JavaScript代码区域
        layui.use('element', function(){
            var element = layui.element;
            var $=layui.jquery;
            $(document).ready(function(){
                $("li>a").click(function(e){
                    e.preventDefault();
                    $("#iframeMain").attr("src",$(this).attr("href"));
                });
            });

        });
    </script>
</div>
</body>
</html>