<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改处方单</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <script src="../static/js/jquery-3.5.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../static/js/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
    <script src="../static/layui/layui.js"></script>
    <script src="../static/js/doctorconfig.js" type="text/javascript"
            charset="utf-8"></script>
</head>
<body>
<form class="layui-form  layui-form-pane"  action=""  lay-filter="form1">
    <div class="layui-form-item">
        <label class="layui-form-label">病单号</label>
        <div class="layui-input-block">
            <input type="text" name="stuRegister" id="stuRegister" class="layui-input" disabled="" title="不允许修改">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">病人账号</label>
        <div class="layui-input-block">
            <input type="text" name="stuNum" lay-verify="stuNum" class="layui-input" disabled="" title="不允许修改">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">病人姓名</label>
        <div class="layui-input-block">
            <input type="text" name="stuName" lay-verify="stuName" class="layui-input" disabled="" title="不允许修改">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">医师账号</label>
        <div class="layui-input-block">
            <input type="text" name="docNum" lay-verify="docNum" class="layui-input" disabled="" title="不允许修改">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">医师姓名</label>
        <div class="layui-input-block">
            <input type="text" name="docName" lay-verify="docName" class="layui-input" disabled="" title="不允许修改">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">开具药物:</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入药物信息，药物开具不得超过三种" class="layui-textarea" name="medicNews" lay-verify="medicNews"></textarea>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">药物使用方式:</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入使用方式" class="layui-textarea" name="medicWay" lay-verify="medicWay"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="editForm">修改处方表</button>
        </div>
    </div>
</form>

<script type="text/javascript">
    layui.use([ 'table','element','layedit', 'laydate','form','upload'],function() {
        var table = layui.table;
        var layer = layui.layer;
        var layedit = layui.layedit;
        var laydate = layui.laydate;
        var form = layui.form;
        var element = layui.element;
        var upload = layui.upload;

        var docNum = $.cookie("docNum");
        var docName = $.cookie("docName");

        //表单中信息添加
        $.ajax({
            url: '../docinfo/selectPrecordBystuRegister',
            data: {stuRegister: $('#stuRegister').val()},
            method: 'get',
            success: function (data) {
                if (data.code==0){
                    form.val('form1',{
                        stuRegister: data.data.stuRegister,
                        stuNum: data.data.stuNum,
                        stuName: data.data.stuName,
                        docNum: data.data.docNum,
                        docName: data.data.docName,
                        medicNews: data.data.medicNews,
                        medicWay: data.data.medicWay,
                    });
                }else {
                    layer.alert(data.msg);
                }
            },
            error: function(data){
                layer.alert(data.msg);
            }
        });

        //修改表单信息
        form.on('submit(editForm)',function (data){
            $.ajax({
                url: '../docinfo/updatePrecord',
                method: 'post',
                data: data.field,
                success: function(data){
                    if(data.code==0) {
                        layer.msg("修改成功。", {
                            icon: 6,
                            time: 1200,
                            shade: 0.4
                        }, function() {
                            var layerIndex = parent.layer.getFrameIndex(window.name);//获取当前iframe的索引
                            parent.layer.close(layerIndex); //执行当前弹出窗口
                            parent.layui.table.reload('registerinfo');//重新加载父页面的表格数据
                        });
                    }else {
                        layer.msg("修改失败，请重试");
                    }
                }, error: function(){
                    layer.msg("服务器内部错误");
                }
            });
            return false; //去掉该行layer不关闭
        });

        form.render();//更新信息
    });
</script>
</body>
</html>