<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>药物信息管理</title>
    <link   href="../static/layui/css/layui.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="../static/layui/layui.js"></script>
    <script type="text/javascript" src="../static/js/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="../static/js/adminconfig.js"></script>
</head>
<body>
<div>
    <!--    前置控制进行查询的按钮-->
    <div class="demoTable">
        <form class="layui-form" lay-filter="form1">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">药品学名</label>
                    <div class="layui-input-block">
                        <input type="text" name="medicName" id="medicName" placeholder="请输入" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-useradmin" lay-submit
                            lay-filter="LAY-user-front-search" type="button" id="searchBtn">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
                <div class="layui-inline">
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>

    <table id="medicinfo" lay-filter="medicinfo"></table>

    <script type="text/html" id="toolBar">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="addNewMedic">添加药品</button>
            <button class="layui-btn layui-btn-sm" lay-event="reloadTable">刷新表格</button>
        </div>
    </script>

    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="doit">修改药物</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="down">删除</a>
    </script>
</div>
<script type="text/javascript">
    layui.use(['table', 'element', 'layedit', 'laydate', 'form', 'jquery'], function () {
        var table = layui.table;
        var layer = layui.layer;
        var layedit = layui.layedit;
        var laydate = layui.laydate;
        var form = layui.form;
        var element = layui.element;
        var $ = layui.jquery;

        var adminNum = $.cookie("adminNum");
        $("#adminNum").text(adminNum);

        //数据表格数据渲染
        var tableIns = table.render({
            elem: '#medicinfo',
            toolbar: '#toolBar',
            height: 550,
            url: '../admincontroal/queryMedicList?adminNum=' + adminNum,
            page: true, //开启分页
            cols: [[ //表头
                {field: 'medicNum', title: '药品编号', width: 140, sort: true},
                {field: 'medicName', title: '药品学名', width: 140},
                {field: 'medicAmount', title: '药品数目', width: 140},
                {field: 'medicPrice', title: '药品价格', width: 100},
                {field: 'medicRatio', title: '药品自费比例', width: 150},
                {field: 'medicUse', title: '药品适用症状', width: 150},
                {field: 'medicBan', title: '用药禁忌', width: 100},
                {fixed: 'right', title: '操作功能', width: 138, align: 'center', toolbar: '#barDemo'}
            ]]
        });

        /* 查询按钮 */
        $('#searchBtn').click(function(){
            layer.msg('请稍后...',{
                icon:16,
                time:800,
                shade:0,
            },function(){
                tableIns.reload({
                    where:{
                        medicName: $('#medicName').val(),
                    },page:{
                        page: 1
                    }
                })
            })
        });
        //监听表格工具头
        table.on('toolbar(medicinfo)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'reloadTable': tableIns.reload();break;
                case 'addNewMedic': addNewMedic();break;
            };
        });
        //添加药品信息
        function addNewMedic(){
            layer.open({
                title:'药品添加列表',
                type: 2,//增加打开页面
                area: ['800px','600px'],
                fixed: false,
                maxmin: true,
                content:'manager_add_medic.html'
            });
        };
        //监听表格按钮事件
        table.on('tool(medicinfo)',function(obj){
            var data = obj.data; //获取表格行数据
            if(obj.event == 'doit'){
                editMedicNews(data);
            }else if(obj.event == 'down'){
                obj.del();
                downMedic(data);
            }
        });
        //表格按钮，修改药品信息
        function editMedicNews(data){
            layer.open({
                type: 2,//增加才可以打开页面,2为打开html链接
                title: '修改药品信息',
                area: ['800px','600px'],
                fixed: false,
                maxmin: true,
                content: 'manager_edit_medic.html',
                success:function (layero,index){
                    var body =layer.getChildFrame('body',index);
                    body.find('#medicNum').val(data.medicNum);
                }
            });
        };

        //表格按钮，删除药品信息
        function downMedic(data){
            $.ajax({
                url: '../admincontroal/deleteBymedicNum?medicNum='+data.medicNum,
                success:function (data1){
                    if (data1.code ==0){
                        layer.msg("药品:<b style='color:skyblue'>"+data.medicNum+"</b> 已删除");
                    }else {
                        layer.alert("请求失败，请稍后重试");
                    }
                },
                error: function (data1){
                    layer.alert("服务器内部错误");
                }
            })
        }
    });
</script>
</body>
</html>