<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员修改药物信息</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
    <script src="../static/js/jquery-3.5.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../static/js/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
    <script src="../static/layui/layui.js"></script>
    <script src="../static/js/adminconfig.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<form class="layui-form" action="" lay-filter="form1">
    <input type="text" name="mid" hidden="hidden"/>

    <div class="layui-form-item">
        <label class="layui-form-label">药品名称</label>
        <div class="layui-input-block">
            <input type="text" name="medicName" lay-verify="medicName" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">药品编号</label>
        <div class="layui-input-block">
            <input type="text" name="medicNum" id="medicNum" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">药品数量</label>
        <div class="layui-input-block">
            <input type="text" name="medicAmount" lay-verify="medicAmount" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">药品单价</label>
        <div class="layui-input-block">
            <input type="text" name="medicPrice" id="medicPrice" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">医保折扣</label>
        <div class="layui-input-block">
            <input type="text" name="medicRatio" id="medicRatio" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">治疗症状</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入药品的治疗功能" class="layui-textarea" name="medicUse" lay-verify="medicUse"></textarea>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">药物禁忌</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入药物适用不适用禁忌" class="layui-textarea" name="medicBan"
                      lay-verify="medicBan"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="editForm">修改药品信息</button>
        </div>
    </div>
</form>

<script type="text/javascript">
    layui.use(['element','layer','layedit','laydate','jquery','form','form','upload'], function() {
        var form = layui.form;
        var element = layui.element;
        var layer = layui.layer;
        var $ = layui.jquery;
        var laydate = layui.laydate;
        var upload = layui.upload;
        var form = layui.form;

        form.verify({
            medicPrice: function (value,item) {
                if(/^[1-9]\d*$/.test(value)){
                    return  '数目必须为正数';
                }
            }
        });

        //获取药物信息bymedicNum
        $.ajax({
            url: '../admincontroal/selectBymedicNum',
            data:  {medicNum: $('#medicNum').val()},
            method:'get',
            success: function (data){
                if (data.code == 0){
                    form.val('form1',{
                        mid: data.data.mid,
                        medicName: data.data.medicName,
                        medicNum: data.data.medicNum,
                        medicAmount: data.data.medicAmount,
                        medicPrice: data.data.medicPrice,
                        medicRatio: data.data.medicRatio,
                        medicUse: data.data.medicUse,
                        medicBan: data.data.medicBan,
                    });
                }else {
                    layer.alert(data.msg);
                }
            },
            error: function (data){
                layer.alert(data.msg);
            }
        });

        form.on('submit(editForm)',function (data){
           $.ajax({
               url: '../admincontroal/updateMedicNewsInfoBymedicNum',
               method: 'post',
               data: data.field,
               success: function (data){
                   if (data.code==0){
                       layer.msg("修改成功。", {
                           icon: 6,
                           time: 1200,
                           shade: 0.4
                       });
                   }else {
                       layer.msg("修改失败，请重试");
                   }
               }, error: function(){
                   layer.msg("服务器内部错误");
               }
           });
           return false;
        });
        form.render();
    });
</script>
</body>
</html>