# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\作业\a毕业设计\lastproblem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
